* {
  /* outline: 1px solid red !important; */
}

body {
  font-size: 2em;
  font-family: helvetica;
  color: rgb(255, 255, 255);
}

header, section, nav, aside, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: rgb(176, 245, 224);
  height: 70px;
}
section {
  background-color: rgb(245, 176, 176);
  height: 400px;
}
nav {
  background-color: rgb(144, 217, 230);
  height: 70px;

}
aside {
  background-color: rgb(126, 240, 183);
  height: 70px;
}
footer {
  background-color: rgb(222, 180, 235);
  height: 70px;
}

@media screen and (min-width: 960px){
  * {
    /* outline: 1px solid blue !important; */
  }

  body {
    display: grid;
    width: 960px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 70px 400px 70px;
  }

  header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
  }
  section {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  aside {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
  }
  footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

}